<template>
    <section id="contact" class="secondary-color text-center scrollto clearfix ">
        <div class="row clearfix">
            <div class="section-heading">
                <h2 class="section-title">Contact us!</h2>
            </div>

            <div class="contact-block col-1 wow fadeInUp" data-wow-delay="0.4s">
                <div class="contact-block-content">
                    <div class="section-heading">
                        <h3 style="color: #111;">Looking for your new Best Friend?</h3>
                    </div>
                    <div class="col-1 text-left">
                        <div class="col-1">
                            <div class="form-group" v-bind:class="{ 'has-error': errors.has('name') }">
                                <label for="contactName">Name</label>
                                <input type="text" v-model="name" class="form-control" id="contactName" placeholder="Your Name">
                                <span class="help-block" v-text="errors.get('name')"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group" v-bind:class="{ 'has-error': errors.has('email') }">
                                <label for="contactEmail">Email</label>
                                <input type="email" v-model="email" class="form-control" id="contactEmail" placeholder="Your Email">
                                <span class="help-block" v-text="errors.get('email')"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group" v-bind:class="{ 'has-error': errors.has('phone') }">
                                <label for="contactPhone">Phone Number</label>
                                <input type="text" v-model="phone" class="form-control" id="contactPhone" placeholder="Your Phone Number">
                                <span class="help-block" v-text="errors.get('phone')"></span>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group" v-bind:class="{ 'has-error': errors.has('message') }">
                                <label for="contactMessage">Your Message</label>
                                <textarea v-model="message" class="form-control" id="contactMessage" rows="3" placeholder="A Brief Message Here..."></textarea>
                                <span class="help-block" v-text="errors.get('message')"></span>
                            </div>
                        </div>
                    </div>
                    <button class="button" @click.prevent="sendMessage" :disabled="!btnActive" v-text="btnText"></button>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import {Errors} from '../Errors'

    export default {
        data() {
                return {
                    name: '',
                    email: '',
                    phone: '',
                    message: '',
                    btnText: 'SEND MESSAGE',
                    btnActive: true,
                    errors: new Errors()
                }
            },

            methods: {
                sendMessage: function() {
                    if(!this.btnActive) return;
                    this.errors.clear();
                    
                    axios.post('/contact', {
                            name: this.name,
                            email: this.email,
                            phone: this.phone,
                            message: this.message,
                        })
                        .then(response => {
                            this.btnText = response.request.response;
                            this.btnActive = false;
                        })
                        .catch(error => {
                            this.errors.record(error.response.data);
                        });
                }
            }
    }
</script>
