<template>
    <aside id="gallery" class="row text-center scrollto clearfix" data-featherlight-gallery data-featherlight-filter="a">
            <div class="section-heading">
                <h2 class="section-title" v-html="heading"></h2>
            </div>
        <a v-for="(image, index) in showImages"
            :href="image.full"
            data-featherlight="image"
            class="col-3 wow fadeIn"
            data-wow-delay="0.7s"
            v-bind:key="index">
            <img :src="image.thumb" :alt="image.thumb">
        </a>
        <button class="button loadImage"
            v-if="hasLeft"
            @click.prevent="loadImages"
            >LOAD MORE ({{ imagesLeft}})
        </button>
    </aside>
</template>
<script>
    export default {
        props: ['images', 'heading'],

        data() {
            return {
                showImages: [],
                imagesList: []
            }
        },

        mounted() {
            this.imagesList = this.images;
            this.loadImages()
        },

        computed: {
            imagesLeft: function() {
                return this.imagesList.length;
            },

            hasLeft: function() {
                return this.imagesLeft > 0;
            }
        },

        methods: {
            loadImages: function() {
                if (this.hasLeft) {
                    let splice = this.imagesList.splice(0, 9);
                    this.showImages = this.showImages.concat(splice);
                }
            }
        }
    }
</script>
